<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    animation: fadeIn 0.5s ease-in-out;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .register-button {
    display: block;
    text-align: center;
    margin-top: 15px;
  }

  .register-button button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
  }

  .register-button button:hover {
    background-color: #218838;
  }
  .message {
    text-align: center;
    margin-top: 15px;
    color: #dc3545; /* Red color for error messages */
  }
  
  .message h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    color: red;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
</head>
<body>
  <div class="container">
    <form method="post" action="/login">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
      <div class="register-button">
        <a href="/register">
          <button type="button">Don't have an account? Register now</button>
        </a>
      </div>
    </form>
    <p class="message">
        <h1><%= locals.message %></h1>
      </p>
  </div>
</body>
</html>
